.E404 {
    color: #f1e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    font-size: 22px;
}
.E404 > h1 {
    font-weight: bold;
    margin-bottom: 20px;
}
.E404-btn {
    padding: 10px 25px;
    font-size: 31px;
    background-color: #09a6e2;
    color: #f1e9e9;
    margin: 0 1em;
    padding: 15px;
    border-radius: 5px;
}
.E404-btn:hover {
    background-color: #0584b5;
}
@media screen and (max-width: 500px) {
    .E404 {
        font-size: 15px;
    }
    .E404-btn {
        font-size: 20px;
    }
}
